
$white: #fff; // 白色
$bg-gray: #f5f5fb; // 背景灰
$font-color: #636f7a; // 字体颜色
$hr: #ecedf0; // 分割线颜色

$light-blue: #07a7d2; // 浅蓝（主色调）
$blue: #349be4; // 蓝色
$main-color: #2c2f43; // 主色调
$main-deep-color: #232636; // 深色主色调
$green: #1cc05a; // 绿色
$dark-green: #119c3e; // 深绿
$blue-green: #1cbec0; // 蓝绿

$light-red: #ef838d; // 浅红

$purple: #d39afb; // 紫色
$deep-purple: #8d97fa; // 深紫

$yellow: #e0bd60; // 棕黄色
$pink: #ffcccc; // 粉色
$orangey-red: #ffcc99; // 橙红色
$orange: #FFA500; // 橙色

$theme-dark: #6b7076; // 暗色主题
